services:
  web:
    build: .
    ports: 
      - 5000:5000
    environment: 
      - FLASK_ENV=development

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    depends_on:
      - web
    volumes:
      - ./nginx:/etc/nginx/conf.d:ro